#main {
  background-color: #eee;
  font-family: sans-serif;
  padding-bottom: 30px;
}

#title {
  text-align: center;
  color: #333;
}

h1 {
  padding-top: 40px;
  font-size: 4rem;
  margin-bottom: 0;
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

p {
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 1.2rem;
  line-height: 1.5;
}

#img-div {
  margin: 15px;
	border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#img {
  width: 90%;
  height: auto;
  padding: 10px;
  align-content: center;
  border-radius: 5px;
}


#info {
  padding-top: 30px;
  padding-left: 20%;
  padding-right: 10%;
  font-size: 20px;
}

#img-caption {
  text-align: center;
  padding-left: 60px;
  padding-right: 60px;
}


li {
  padding-top: 10px;
}

h5 {
  padding-left: 10%;
} 
h4 {
  padding-top: 20px;
}

#link {
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
  padding-top: 30px;
  padding-left: 10%;
}


